<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977226399867-b41su22pnl6ihr5seu58u5rmu1g2kv7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977226399867-b41su22pnl6ihr5seu58u5rmu1g2kv7j</string>
	<key>API_KEY</key>
	<string>AIzaSyCzUWIiq70MlCX8d4EF87gZmqu0e0SLPgc</string>
	<key>GCM_SENDER_ID</key>
	<string>977226399867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>comp589-c1db0</string>
	<key>STORAGE_BUCKET</key>
	<string>comp589-c1db0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977226399867:ios:c7eaa91e93f19720ee22de</string>
</dict>
</plist>